<% provide(:title, "About TBS") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
	<h1>About Twisted Bit Studios</h1>
	<p>My dad is the culprit that taught me the value of other peoples junk. My passion is to take someone's junk and turn it into a piece of art, and make it a treasure that someone will use and enjoy. The treasures and goodies are all around us in this throw away world we live. They are just waiting to be found and reused and brought back to life. I'll always remember my mom's words "another man's junk is another man's treasure.</p>
</div>
