<% provide(:title, "About TBS") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
	<h1>About Twisted Bit Studios</h1>
	<p>Here BIll will create a badass bio on his badass artwork like the G he is!</p>
</div>
