<% provide(:title, "Home") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
	<h1>Twisted Bit Studios</h1>
	<p>Our products are of the highest quality. They will bring a sense of home to you. Our custom designs will surely make an impact on any space. Please click below and browse our inventory!</p>
	</br >
		<td><%= link_to 'Our Products', ourproducts_path, class: 'btn btn-primary btn-lrg active' %></td>
	<p></p>
	<p> Find out what new things are happening with Twisted Bit Studios.</p>
	<td><%= link_to 'Our Blog', news_path, class: 'btn btn-primary btn-lrg active' %></td>
</div>
